.c1{
    width: 1000px;
    height: 500px;
    border-style: solid;
    background-color: black;
    box-shadow: 200px 30px 10px rgb(19, 17, 17);
}
.c2{
    width: 400px;
    height: 200px;
    border-style: solid;
    float: left;
    margin-top: 40px;
    margin-left: 120px;
    display: inline;
    background-color: balck;
    color: yellowgreen;
    box-shadow: -10px 10px 10px rgb(138, 203, 247);
    border-radius: 70px 1px ;
}
.c3{
    background-color: teal;
    width: 220px;
    height: 100px;
    border-style: ridge;
    margin-top: 90px;
    margin-left: 540px;
    border-width: 5px;
    box-shadow: 10px 10px 10px;
    border-radius: 70px 5px;
    
}
.h1{
    
    display: inline-flex;
    padding: 12px;
}
.c4{
    display: block;
    width: 700px;
    height: 100px;
    border-style: groove;
    margin-top: 120px;
    border-width: 5px;
    border-radius: 30px;
    box-shadow:10px 10px 10px thistle;
}

body{
    background-color: rgb(12, 12, 12);
}